{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio -- Paul Roylance</title>
        <link rel="stylesheet" type="text/css" href="/static/portfolio/style.css"/>
    </head>
    <body>
        <!--Name-Occupation-Education-->
        <header class="cap">
            -- Paul E. Roylance -- Computer Engineering -- Utah State University --
        </header>
        <embed src="{{ itemdocument.embed_text }}" type="text/plain">
        <div class="push"></div>
        <footer class="cap">
            <p>Contact me here -- grunzila@gmail.com</p>
        </footer>
    </body>
</html>