<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio -- Paul Roylance</title>
        
        <link rel="stylesheet" type="text/css" href="/static/portfolio/style.css"/>
    </head>
    <body>
        <!--Name-Occupation-Education-->
        <header class="cap">
            -- Paul E. Roylance -- Computer Engineering -- Utah State University --
        </header>
        <embed src="static/portfolio/documents/final_report.txt" type="text/plain">
        <footer class="cap">
            <p>Contact me here -- grunzila@gmail.com</p>
        </footer>
    </body>
</html>