<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio -- Paul Roylance</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}"/>
    </head>
    <body>
        <!--Name-Occupation-Education-->
        <header class="cap">-- Paul E. Roylance -- Computer Engineering -- Utah State University --</header>
        <p>Picture</p>
        <p>blurb</p>
        <h2>documents</h2>
        <hr>
        <h2>audiothing</h2>
        <footer class="cap">Development info</footer>
    </body>
</html>