{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio -- Paul Roylance</title>
        <script type="text/javascript" src="{% static 'portfolio/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}"/>
    </head>
    <body>
        <header class="cap">
            -- Paul E. Roylance -- Computer Engineering -- Utah State University --
        </header>
        <div class="intro">
            <p>Portfolio:
            <br>Brag about yourself, they said. Really sell yourself, they said.
            <br>Should I even trust those voices? Probably. They have real jobs.
            <br>I will make this concise then. Ahem. *Bragging*</p>
        </div>
        <div class="blurb">
            <img class="inner_blurb" src="{% static 'portfolio/images/face.png' %}" alt="Profile Image" height="399" width="300">
            {% for words in object_list %}
            <div class="inner_blurb words">{{ words.blurb_text }}</div>
            {% endfor %}
        </div>
        <div class="document_lead">
            <h2>documents</h2>
        </div>
        <div class="document">
            {% for doc in document %}
            <a href="{% url 'portfolio:document' doc.id %}" target="_blank">{{ doc.item_text }}</a>
            {% endfor %}
        </div>
        <div class="audio_lead">
            <h2>audiothings</h2>    
        </div>
        <div class="audio">
            {% for aud in audio %}
            <a href="{% url 'portfolio:audio' aud.id %}" target="_blank">{{ aud.item_text }}</a>
            {% endfor %}
        </div>
        <div class="final">
            <p>You can't fire me! Slaves gotta be sold.</p> 
        </div>
        <footer class="cap">
            <p>Contact me here -- grunzila@gmail.com</p>
        </footer>
    </body>
</html>