<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio -- Paul Roylance</title>
        
        <link rel="stylesheet" type="text/css" href="/static/portfolio/style.css"/>
    </head>
    <body>
        <!--Name-Occupation-Education-->
        <header class="cap">
            -- Paul E. Roylance -- Computer Engineering -- Utah State University --
        </header>
        <div class="intro">
            <p>Portfolio:
            <br>The place to brag about oneself through merit of accomplishment.
            <br>Ones skill and ability will be apparent through your production.
            <br>However, begin with a little intro, let me know more about you.</p>
        </div>
        <div class="blurb">
            <img class="inner_blurb" src="/static/portfolio/images/face.png" alt="Profile Image" height="399" width="300">
            <p class="inner_blurb"><!---->Blurb</p>
        </div>
        <div class="document_lead">
            <h2>documents</h2>
        </div>
        <div class="document">
            <a href="https://www.w3schools.com" target="_blank">Put Django Here 1</a>
            <a href="https://www.w3schools.com" target="_blank">Put Django Here 2</a>
        </div>
        <div class="audio_lead">
            <h2>audiothing</h2>    
        </div>
        <div class="audio">
            stuff
        </div>
        <div class="final">
            Final Thoughts with Jimmy Dean: "EAT MORE MEAT!"
        </div>
        <footer class="cap">
            <p>grunzila@gmail.com</p>
        </footer>
    </body>
</html>