body {
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
    background: antiquewhite url("images/backwall1.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.cap {
    font-size: large;
    text-align: center;
    background: darkred;
    padding: 10px;
}

header {
    top: 0px;
    position: sticky;
    border-bottom: 7px solid #600;
}

footer {
    width: 100%;
    bottom: 0;
}

.intro, .document_lead, .audio_lead, .final {
    font-size: large;
    margin: 100px 20px;
}

.blurb, .document, .audio {
    background: darkred;
    padding: 10px 0px;
    border-bottom: 7px solid #600;
}

img {
    border-right: 7px solid #600;
    border-bottom: 7px solid #600;
    margin: 10px 0px;
}

a {
    color: antiquewhite;
    text-decoration:none;
    background: #4C4C4C;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 5px solid #060606;
    margin: 10px;
    display: inline-block;
}

embed {
    background: antiquewhite;
    height: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}