body {
    color: antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
    background: white url("images/backwall1.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.cap {
    background: darkred;
    padding: 10px;
    text-align: center;
    font-size: large;
}

header {
    position: sticky;
    top: 0px;
    border-bottom: 7px solid #600;
}

footer {
    text-decoration: underline;
}

.intro, .document_lead, .audio_lead, .final {
    font-size: large;
    margin: 100px 20px;
}

.blurb, .document, .audio {
    background: darkred;
    border-bottom: 7px solid #600;
    padding: 10px 0px;
}

img {
    border-right: 7px solid #600;
    border-bottom: 7px solid #600;
    margin: 10px 0px;
}