body {
    color:antiquewhite;
    font-family: "Arial Black", Gadget, sans-serif;
    background: white url("images/backwall1.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

.cap {
    background: darkred;
    padding: 10px;
    text-align: center;
}

header {
    position: sticky;
    top: 0px;
}

footer {
    text-decoration: underline;
}

h2 {
    margin: 1000px 0px;
}